In [1]:
import sqlite3

In [7]:
connection = sqlite3.connect('example.db')  # create the connection

In [8]:
cursor = connection.cursor()   # create the curson

In [6]:
# connection.close()

In [9]:
cursor.execute("""
    create table Employee(id integer Primary Key,
               name Text Not Null,
               age Integer,
               department Text)
""")
connection.commit()

In [10]:
cursor.execute("""
    insert into Employee(id, name, age, department) values (123, 'Shyam', 24, 'CMPN')
""")
cursor.execute("""
    insert into Employee(id, name, age, department) values (456, 'Ram', 14, 'AI')
""")
cursor.execute("""
    insert into Employee(id, name, age, department) values (789, 'Krish', 34, 'ML')
""")

In [11]:
connection.commit()

In [20]:
cursor.execute("""
    select * from Employee
""")
rows = cursor.fetchall()
for row in rows:
    print(row)

(123, 'Shyam', 24, 'MLAI')
(789, 'Krish', 34, 'ML')

In [17]:
cursor.execute("""
    update Employee set department = 'MLAI' where name = 'Shyam'
""")
connection.commit()

In [19]:
cursor.execute("""
    Delete from Employee where name = 'Ram'
""")
connection.commit()

In [21]:
sales_data = [
(1, 'John', 24, 'CMPN'),
(2, 'King', 24, 'CMPN'),
(3, 'Root', 24, 'CMPN'),
(4, 'Ram', 14, 'AI'),
(5, 'Man', 34, 'ML')]

In [22]:
cursor.executemany("""
    insert into Employee(id, name, age, department) values (?,?,?,?)
""", sales_data)
connection.commit()

In [23]:
cursor.execute("""
    select * from Employee
""")
rows = cursor.fetchall()
for row in rows:
    print(row)

connection.close()

(1, 'John', 24, 'CMPN')
(2, 'King', 24, 'CMPN')
(3, 'Root', 24, 'CMPN')
(4, 'Ram', 14, 'AI')
(5, 'Man', 34, 'ML')
(123, 'Shyam', 24, 'MLAI')
(789, 'Krish', 34, 'ML')